@import "tailwindcss";

@layer base {
    body {
        background: #0e0e0e;
        margin: 0;
        color: rgb(255, 255, 255, 0.8);
        box-sizing: border-box;
    }

    a {
        color: inherit;
        text-decoration: none;
    }
}